.logo {
  height: 75px;
  width: 75px;
  background-image: url("../assets/images/logo.png");
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #000b58;
}
